
.container{
    display: flex;
    background-color: blue;
    flex-flow: row wrap;
}

.item {
    background-color: #ff0606;
    color: aliceblue;
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    flex: auto;
    width: 100px;
}