@charset "UTF-8";

@font-face {
    font-family: PassionOne;
    src: url(fontes/PassionOne-Regular.ttf);
}

@font-face {
    font-family: Srirracha;
    src: url(fontes/Sriracha-Regular.ttf);
}

:root {
    --fonte1: Verdana, sans-serif;
    --fonte2: 'PassionOne', cursive;
    --fonte3: 'Srirracha', cursive;}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: gray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 4rem;
}

header > h2 {
    padding-bottom: 50px;
    font-weight: 200;
    font-size: 0.8rem;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section.estrofe {
    background-color: white;
    color: black;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 2rem;
}

section.imagem {
    background-color: wheat;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.288);
    width: 400px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}